img{
	max-width: 100%;
}
body{
	background:url(1.jpg) #000000;
	background-position: center;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 50px;
}
.grande{
	font-size: 5em;
}
.negro{
	color: #292929;
}
.azul{
	color: #2E748A;
}
.verde{
	color: #5E8A5F;
}
.rojooscuro{
	color: #7D0000;
}
p{
	color: #942B29;
}
a{
	color:#941107;
	font-size: 2em;
	margin-right: 1em;
}

.se-gris{
	background-color: #eee;
}
.padding-largo{
	padding: 5px 10px;
}


.espacio-derecha{
	margin-right: 1em;
}
.arriba{
	vertical-align: top;
}
.m-g{
	font-size: 3em;
}
.mediano{
	font-size: 2.0em;
}
.peque{
	font-size: 1em;
}
.retraso1{
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay:1s;
}
.retraso2{
	-webkit-animation-delay:2s;
	-moz-animation-delay:2s;
	animation-delay:2s;
}
.lobster{
	font-family: 'Lobster', cursive;
}
*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
form{
	background: #1e4d4d;
	width: 360px;
	border: 5px solid #111111;
	border-radius: 5px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow: inset 0 0 100px #000;
	margin: 100px;
}
nav{
	background-color: #2E748A;
	height: 60px;
	margin-bottom: 10px;
	z-index: 1000px;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 1000px;
	box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}
nav ul{
	list-style: none;
	overflow: hidden;
}
nav ul li{
	float: left;
}
nav ul li a{
	display: block;
	padding: 20px;
	color: #fff;
	text-decoration: none;
}
nav ul li a:hover{
	background: #2E748A;
}
.contenedor{
	width: 95%;
	max-width: 1000px;
	margin: auto;
}
.contenedor p{
	margin-bottom: 40px;
}
